#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: dimgray;
  background-color: #1D1D2D;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 30px;
  font-family: 'Eczar', serif;
}


/************************** intro page **************************/

.intro-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.intro-text {
  text-shadow: #4d4747;
  white-space: pre-wrap;
  display: inline-block;
  position: relative;
  height: inherit;
  font-size: clamp(1rem, 3vw, 4rem);
  padding: clamp(2rem, 8rem, 9rem);
  padding-top: clamp(2rem, 7rem, 7rem);
  overflow: hidden;
}

.intro-text span {
  display: inline-block;
  opacity: 0;
  animation: reveal 6s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-enter {
  opacity: 0.4;
  position: absolute;
  bottom: 1vh;
}


/************************** home page **************************/

.home-container {
  padding-top: 10vw;
}

.game-title {
  font-family: 'Metal Mania', serif;
  font-size: 10vw;
  margin: 0 auto 45px auto;
}

.ikea-header {
  background-image: url("/images/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110%;
}

.vs {
  font-size: 75%;
  opacity: 0.6
}

.metal-header {
  position: relative;
  font-size: 110%;
  background-image: url("/images/FlagBlack.jpg");
  background-repeat: round;
  background-size: cover;
  background-position: 229px 53px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: url(#text-shadow);
}

.main-button {
  align-items: center;
  background-image: linear-gradient(170deg,#4d4747, #2f2d33 50%,#363434);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(76, 75, 77, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: dimgray;
  display: flex;
  font-family: 'Metal Mania', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  }

.main-button:active,
.main-button:hover {
  outline: 0;
}

.main-button span {
  background-color: #272734;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.main-button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .main-button {
    font-size: 36px;
    min-width: 196px;
  }
}

.home-text {
  margin-top: 15px;
}

.sound-info {
  position: absolute;
  bottom: 3rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  font-size: 1.5rem;
}

/*********************** game page *************************/

.game-container {
  padding-top: 7vh;
}

.remaining-questions {
  font-family: 'Metal Mania', sans-serif;
  position: absolute;
  bottom: 5rem;
  font-size: clamp(1rem, 2.5rem, 3rem);
  /* margin: 0 auto */
}

.item-name {
  font-size: clamp(6rem, 10vw, 140px);
  font-family: 'Metal Mania', serif;
  margin: 1rem;
}

.game-buttons {
  margin: 6% 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
  max-width: 100%;
}

.button-game {
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.button-game:hover {
  transform: scale(1.1);
  box-shadow: inset 0px 0px 10px 2px rgb (0 0 0 /50%);
  opacity: 1;
}

.button-band-image {
  border-radius: 20px;
  width: 100%;
  max-width: 17rem;
  height: auto;
}

.button-ikea-image {
  border-radius: 20px;
  width: 100%;
  max-width: 22rem;
  height: auto;
}


/**************************  verdict page **************************/

.verdict-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.verdict-container > h1 {
  font-family: 'Metal Mania', sans-serif;
  font-size: 12vh;
  margin: 0 auto;
}

.verdict-container > h2 {
  font-family: 'Metal Mania', sans-serif;
  font-size: 5vh;
}

.videoPlayer {
  max-width: 90vh;
  margin: 0 auto;
  position: relative;
  bottom: 5vh;
  }

.videoPlayer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

.ikea-image {
  width: 50vh;
  position: relative;
  bottom: 6vh;
}

.next-button {
  position: absolute;
  bottom: 5vh;
}


/**************************  end page **************************/

.end-game-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.end-game {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.end-game h1 {
  position: relative;
  font-family: "Metal Mania";
  font-size: 17vh;
  background-image: url("/images/FlagBlack.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: url(#text-shadow);
  margin-bottom: 0;
}



.end-game h2 {
  font-family: 'Metal Mania';
  font-size: 5rem;
  font-weight: bold;
  width: fit-content;
  padding: 1vh 3vw;
  margin: 0 auto;
}

.end-game h3 {
  font-size: 2.2rem;
}

.contact-icons {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  padding: 2%;
  display: flex;
  justify-content: end; 
  align-items: center;    
  gap: 1em;      
  margin-bottom: 1%;
}

.image-wrapper {
  max-width: 4rem;  
  min-width: 1rem;            
  height: auto;             
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  overflow: visible;

}

.contact-icon {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  opacity: 0.6;
}

.contact-icon:hover {
  width: 125%;
  height: auto;
}


/**************************  media queries **************************/



@media only screen and (max-width: 768px) {

  .intro-text {
    padding: 0 2.5rem 2rem 2.5rem;
    font-size: 3vh;
    height: 75vh;
  }

  .text-enter {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .home-container {
    padding-top: 2rem;
  }

  .game-title {
    font-size: 4rem;
    padding: 2rem 1rem;
    margin: 0;
  }

  .home-text {
    font-size: 1.2rem;
    padding: 1vh 10vw;
    margin: 0;

  }

  .item-name {
    margin: 4vh 2vw 8vh 2vw;
    font-size: clamp(3rem, 4rem, 5rem);
  }

  .game-buttons {
    flex-direction: column;
    max-width: fit-content;
    justify-self: center;
    row-gap: 3vh;
  }

  .button-band-image {
    max-height: 23vh;
    max-width:fit-content;
  }

  .button-ikea-image{
    max-height: 23vh;
    max-width:fit-content;
  }

  .remaining-questions {
    bottom: 4rem;
    font-size: clamp(1rem, 1.5rem, 2rem);

  }

  .verdict-container {
    padding: 1.5rem;
  }

  .ikea-image {
    width: 15rem;
  }

  .end-game h1 {
    font-size: 12vh;
    padding: 0 1vh;
    margin: 0;
  }

  .end-game h2 {
    font-size: 3rem;
  }

  .end-game h3 {
    font-size: 1.5rem;
  }

  .image-wrapper {
    max-width: 3rem;
  }

  .contact-icons {
    justify-content: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home-container {
    margin: 0 auto;
    
  }
  
  
  .game-title {
    font-size: 7rem;
    padding: 2rem 1rem;

  }

  .home-text {
    font-size: 4vh;
  }

}