#root {
  margin: 0;
  padding: 0;
  /* padding-top: 20px; */
  width: 100%;
  height: 100vh;
  text-align: center;
  color: dimgray;
  background-color: #1D1D2D;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 30px;
}

/************************** HOME PAGE **************************/

.home-container {
  padding-top: 20vh;
}

.game-title {
  font-family: 'Metal Mania', serif;
  font-size: 140px;
  margin-bottom: 45px;
}

.ikea-header {
  background-image: url("/images/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 110%;
}

.vs {
  font-size: 75%;
}

.button-start {
  /* margin-top: 25px; */
  align-items: center;
  background-image: linear-gradient(170deg,#4d4747, #2f2d33 50%,#363434);
  /* background-image: linear-gradient(144deg,#696969, #390d9f 50%,#696969); */
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(76, 75, 77, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: dimgray;
  display: flex;
  font-family: 'Metal Mania', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 0 auto;
}

.button-start:active,
.button-start:hover {
  outline: 0;
}

.button-start span {
  background-color: #1D1D2D;
  padding: 10px 15px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-start:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-start {
    font-size: 36px;
    min-width: 196px;
  }
}

.home-text {
  margin-top: 15px;
}

/*********************** GAME PAGE *************************/

.game-container {
  padding-top: 16vh;
}

.name {
  font-size: clamp(6rem, 10vw, 140px);
  font-family: 'Metal Mania', serif;
}

.game-buttons {
  margin: 3% 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  max-width: 100%;
}

.button-game {
  background: transparent;
  border: none;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.button-game:hover {
  transform: scale(1.1);
  box-shadow: inset 0px 0px 10px 2px rgb (0 0 0 /50%);
  opacity: 1;
}

.button-band-image {
  border-radius: 20px;
  width: 100%;
  max-width: 20rem;
  height: auto;
}

.button-ikea-image {
  border-radius: 20px;
  width: 100%;
  max-width: 25rem;
  min-width: 20rem;
  height: auto;
}


/**************************  verdict page **************************/


.verdictContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* overflow: auto; */
}

.verdictContainer > h1 {
  font-family: 'Metal Mania', sans-serif;
  font-size: 20vh;
}

.verdictContainer > h2 {
  font-family: 'Metal Mania', sans-serif;
  /* font-size: 20vh; */
}

.videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 80%;
  /* width: 80%; */
  margin: 0 auto;
}

.button-next {
  /* opacity: 0 */
}